<!DOCTYPE html>
<html>
  <head>
    <title>BeeTrack & Google Maps</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
     body{ background-color: rgba(0,0,0,0.85); } #googleMap{ width:100%; height:500px; }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  </head>
  <body>
  	<div class="container col-md-8 col-md-offset-2">
  		<div class="row text-center">
		  	<h1 class="display-4">Seguimiento Gps <span class="badge badge-secondary">Beetrack</span></h1>
			<div id="alerta" class="col-md-12"></div>
		    <div class="rounded btn-secondary" id="googleMap"></div>
		</div>
	</div>
  </body>
</html>
<script type="text/javascript">
      var marcadores = [];
	function mapaGoogle(){
	  
	 $("#alerta").html('<div class="alert alert-info" role="alert"><strong>Actualizando ...!</strong></div>');	

	  var localidades = [
	    ['BTC', 40.963, -5.577],
	    ['BTC', 42.963, -5.669],
	    ['BTC', 41.503, -5.744]
	  ];
	  
	  var mapa = new google.maps.Map(document.getElementById('googleMap'), {
	    zoom: 7,
	    mapTypeId: google.maps.MapTypeId.ROADMAP
	  });
	  
	  var limites = new google.maps.LatLngBounds();
	  var infowindow = new google.maps.InfoWindow();
	  var marcador, i;
	  var icon = "https://training.nanoworking.com/wp-content/uploads/2015/10/NanoWorkIng-Map-Marcador-32x32.png";

	  for (i = 0; i < localidades.length; i++) {
	    marcador = new google.maps.Marker({
	      position: new google.maps.LatLng(localidades[i][1], localidades[i][2]),
	      map: mapa,
	      icon: icon,
	  });
	    
	    marcadores.push(marcador);
	    limites.extend(marcador.position);
	   
	    google.maps.event.addListener(marcador, 'click', (function(marcador, i){
	      return function() {
	        infowindow.setContent(localidades[i][0]);
	        infowindow.open(mapa, marcador);
	      }
	    })(marcador, i));
	  }
	  
	  mapa.fitBounds(limites);

	  $("#alerta").html('');
	}
	// Inicializando el mapa cuando se carga la página
	google.maps.event.addDomListener(window, 'load', mapaGoogle);
	setTimeout(mapaGoogle, 15000);
          
</script>